.newPost {
  @include flex(row, space-between, flex-start);
  position: fixed;
  top: 60px;
  bottom: 60px;
  padding: 15px;
  left: 0;
  right: 0;
  background-color: white;
  display: none;
  z-index: 1000;
  form {
    width: 100%;
    @include flex(column, flex-start, flex-end);
    .input {
      width: 95%;
      margin-left: auto;
      input {
        border: whitesmoke 1px solid;
      }
    }
  }
  textarea {
    width: 95%;
    resize: none;
    margin-bottom: 15px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border: whitesmoke 1px solid;
  }
  &--isOpen {
    display: flex;
  }
}

@media (min-width: 768px) {
  .newPost {
    display: flex;
    position: static;
    border-bottom: 1px solid whitesmoke;
  }
  .newPostPage {
    .newPost {
      display: none;
    }
  }
}
